<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile/profile.css">
</head>

<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                value="Kelvin"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                class="form-control" value="Halsey"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">User Name</label><input type="text"
                                class="form-control" value="halseyKelvin123"></div>
                        <div class="col-md-12"><label class="labels">Team Name</label><input type="text"
                                class="form-control" value="Tech Knights"></div>
                        <div class="col-md-12"><label class="labels">Contact</label><input type="text"
                                class="form-control" value="+91 82342 32232"></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"class="form-control"value="Halsey12345@gmail.com"></div>
                        <div class="col-md-12"><label class="labels">
                        About</label><textarea name="" id="" cols="48" rows="5" class="col-md-12">I'm a goal oriented, determined and ambitious person with a passion for e-commerce. Music is my other passion. I've worked in the music industry as an artist, writer and label owner for over 15 years.</textarea></div>
                    </div>
                    <div class="mt-5 text-center"> <a href="<%= redirectLink %>"> <button class="btn btn-primary profile-button"  type="button">Save Profile</button> </a> </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>