<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
  <title>Connecting Dreams Foundation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="assets\img\download.jpg" class="img-fluid animated">
        <h1> Connecting Dreams </h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul class="navbar-list">
          <li><a href="#" class="active">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#ourprogrammes">Our Programmes</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav>
      </ul>
      <a class="btn-getstarted scrollto" href="/auth/login">Login/SignUp</a>
    </div>
  </header>
  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img src="assets\img\cdf-chnagemakers.jpg" class="img-fluid animated">
      <h2>CONNECTING DREAMS,</h2>
      <h2>CHANGING LIVES</h2>
      <p>Connecting the youth-network with the local communities and help create solutions based on the entrepreneurship
        models</p>
    </div>
  </section>
  <main id="main">
    <section id="featured-services" class="featured-services">
      <div class="container">
        <div class="row gy-4">
          <div class="col-xl-3 col-lg-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <h1><a href="" class="stretched-link">VISION</a></h1>
              <img src="assets/img/slogan.jpeg" class="img-fluid animated">
              <p>We create Changemakers through a Systemic Model of Entrepreneurship who in turn solve Community based
                SDG Challenges through Sustainable Solutions with the help of Domain Experts</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>About Us</h2>
          <p>We provide the youth with an opportunity to empower people through entrepreneurial action to improve their
            livelihoods in an economically, socially and environmentally sustainable way, thus converting their dreams
            into reality. Our Changemakers work to bring about a sustainable and scalable change by working along the
            lines of 17 Sustainable Development Goals (SDGs) as defined by the United Nations.</p>
          <p> Connecting-Dreams Foundation (CDF) is a non-profit foundation registered and licensed under section 8 of
            the Companies Act, 1956, Government of India, which creates social entrepreneurship models and empowers
            underprivileged women.</p>
        </div>
    </section><!-- End About Section -->
    <section id="ourprogrammes" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Programmes</h2>
          <p>The Changemaker Academy is a toolkit of learning resources that are practice-based, life-changing,
            professional development courses that will help the youth translate knowledge into action as they work in
            the community. Changemakers goes through an experiential journey to enable them to create change on the
            ground by using our unique 3C model.</p>
        </div>
        <div class="row gy-5">
          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="assets/img/services-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CHANGEMAKER LAB PROGRAM</h3>
                </a>
                <p>A hybrid programme for training the youth towards the creation of sustainable business models for
                  underserved communities</p>
              </div>
            </div>
          </div><!-- End Service Item -->
          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="assets/img/services-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CHANGEMAKERS ACADEMY</h3>
                </a>
                <p>A toolkit of life-changing and practice-based learning resources that will help the changemakers
                  translate their knowledge into actions as they strive to bring about a change by their initiatives.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="assets/img/Picture.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>GLOBAL CHANGEMAKER FELLOWSHIP</h3>
                </a>
                <p>An opportunity for young changemakers who are working towards local problems in their communities,
                  with a potential to participate in an immersive programme to sustain</p>
              </div>
            </div>
          </div><!-- End Service Item -->
        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Connecting Dreams Foundation (CDF) is a non-profit foundation registered and licensed under section 25 of
            the Companies Act, 1956, Government of India.</p>
        </div>
      </div>
      <div class="container">
        <div class="row gy-5 gx-lg-5">
          <div class="col-lg-4">

        </div>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Delhi|Mumbai</p>
                </div>
              </div><!-- End Info Item -->
              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@connecting-dreams.org</p>
                </div>
              </div><!-- End Info Item -->
              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+ 91-9899748528</p>
                </div>
              </div><!-- End Info Item -->
              <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
                  class="bi bi-arrow-up-short"></i></a>
              <div id="preloader"></div>
              <!-- Vendor JS Files -->
              <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
              <script src="assets/vendor/aos/aos.js"></script>
              <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
              <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
              <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
              <script src="assets/vendor/php-email-form/validate.js"></script>
              <!-- Template Main JS File -->
              <script src="assets/js/main.js"></script>
</body>

</html>
