<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>My Dashboard</title>
  </head>

  <body>
    <div class="side-menu">
      <div class="brand-name">
        <h2>NGO Name</h2>
      </div>
      <ul>
        <li>
          <i class="fa fa-home" style="font-size: 40px; color: white"></i
          ><span>Home</span>
        </li>
        <li>
          <img src="images/help-web-button.png" alt="" />&nbsp;
          <span>Help</span>
        </li>
        <li>
          <img src="images/settings.png" alt="" />&nbsp;<span>Settings</span>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="header">
        <div class="nav">
          <div class="user">
            <img src="images/notifications.png" alt="" />
            <div class="img-case">
              <img src="images/user.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="cards">
          <div class="card">
            <div class="box">
              <h1>#</h1>
              <h3>Changemaker Teams</h3>
            </div>
            <div class="icon-case">
              <img src="images/students.png" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>#</h1>
              <h3>Mentor Corporates</h3>
            </div>
            <div class="icon-case">
              <img src="images/teachers.png" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>#</h1>
              <h3>NGOs</h3>
            </div>
            <div class="icon-case">
              <img src="images/schools.png" alt="" />
            </div>
          </div>
        </div>
        <div class="content-2">
          <div class="recent-payments">
            <div class="title">
              <h2>Open Case Studies</h2>
            </div>
            <table>
              <tr>
                <th>Name of NGO</th>
                <th>Working towards</th>
                <th>Number of Applications</th>
                <th>Option</th>
              </tr>
              <tr>
                <td>Feed India</td>
                <td>Zero Hunger</td>
                <td>12</td>
                <td><a href="#" class="btn">View</a></td>
              </tr>
              <tr>
                <td>Feed India</td>
                <td>Zero Hunger</td>
                <td>12</td>
                <td><a href="#" class="btn">View</a></td>
              </tr>
            </table>
          </div>
          <div class="icon-case">
            <div class="title">
              <h2 style="padding: 7px">New Case Study</h2>
              <a href="#" class="btn">+</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
